In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [5]:
data = spark.read.csv('test3.csv',header=True,inferSchema=True)

In [6]:
data.show()

+------+--------------------+------+
|  Name|         Departments|salary|
+------+--------------------+------+
|  Andi|       Data Engineer| 10000|
| Billy|                 IOT|  5000|
|Charly|    Big Data Analyst|  4000|
|Denise|Blockchain Developer|  4000|
|  Eden|       Data Engineer|  3000|
|  Fajr|        Data Science| 20000|
|   Gen|                 IOT| 10000|
|Hailey|            Big Data|  5000|
|  Indi|       Data Engineer| 10000|
|   Joy|    Big Data Analyst|  2000|
+------+--------------------+------+

In [7]:
data.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [8]:
##GroupBy 
### Mengelompokan berdasarkan nama
data.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(salary)|
+------+-----------+
|Denise|       4000|
|  Indi|      10000|
|  Eden|       3000|
|  Andi|      10000|
| Billy|       5000|
|   Gen|      10000|
|Charly|       4000|
|Hailey|       5000|
|   Joy|       2000|
|  Fajr|      20000|
+------+-----------+

In [9]:
data.groupBy('Name').avg().show()

+------+-----------+
|  Name|avg(salary)|
+------+-----------+
|Denise|     4000.0|
|  Indi|    10000.0|
|  Eden|     3000.0|
|  Andi|    10000.0|
| Billy|     5000.0|
|   Gen|    10000.0|
|Charly|     4000.0|
|Hailey|     5000.0|
|   Joy|     2000.0|
|  Fajr|    20000.0|
+------+-----------+

In [10]:
data.groupBy('Departments').mean().show()

+--------------------+-----------------+
|         Departments|      avg(salary)|
+--------------------+-----------------+
|                 IOT|           7500.0|
|Blockchain Developer|           4000.0|
|            Big Data|           5000.0|
|    Big Data Analyst|           3000.0|
|        Data Science|          20000.0|
|       Data Engineer|7666.666666666667|
+--------------------+-----------------+

In [11]:
data.groupBy('Name').count().show()

+------+-----+
|  Name|count|
+------+-----+
|Denise|    1|
|  Indi|    1|
|  Eden|    1|
|  Andi|    1|
| Billy|    1|
|   Gen|    1|
|Charly|    1|
|Hailey|    1|
|   Joy|    1|
|  Fajr|    1|
+------+-----+

In [ ]:
data.agg()